<div id="header">
  <div class="logo">
     <a href="http://www.mycashflow.me"><img src="<%= ENV['DOMAIN'] %>/logo.png" alt="logo MyCashFlow"></a>
  </div>
    <h1>MyCashFlow</h1>
</div>
<h2>Hello</h2>

<h3>
   Here are your new ads
</h3>


<ul>
  <div id="mail">
    <% @annonces.each do |annonce| %>
      <div class="annonce">
        <a href="<%= annonce[:url] %>"><img src="<%= annonce[:image] %>"></a>
          <div class="description">
            <h4>potential yield: <%= annonce[:returns].round(2) %>%</h4>
            <p>price: <%= annonce[:price] %> €</p>
            <p>rooms: <%= annonce[:rooms] %></p>
            <p>surface: <%= annonce[:surface] %> m²</p>
          </div>
        <li>
          <%= annonce[:price]     %>
          <%= annonce[:url]       %>
          <%= annonce[:image]     %>
          <%= annonce[:rooms]     %>
          <%= annonce[:surface]   %>
          <%= annonce[:lat]       %>
          <%= annonce[:lng]       %>
          <%= annonce[:avg_rents] %>
          <%= annonce[:returns]   %>
          <%= annonce[:precision] %>
        </li>
      </div>
    <% end %>
  </div>
</ul>


