<div id="header">
  <div class="logo">
     <a href="http://www.mycashflow.me"><img src="<%= ENV['DOMAIN'] %>/logo.png" alt="logo MyCashFlow"></a>
  </div>
    <h1>MyCashFlow</h1>
</div>
<h2>Hello</h2>

<h3>Voici vos nouvelles annonces</h3>


<ul>
  <div id="mail">
    <% @annonces.each do |annonce| %>
      <div class="annonce">
        <a href="<%= annonce[:url] %>"><img src="<%= annonce[:image] %>"></a>
          <div class="description">
            <div class="metrics">
              <div class="metric">
                <h2>rendement potentiel: <div class="green">  <%= annonce[:returns].round(2) %>%</div></h2>
              </div>
            </div>
            <hr>
            <h4>prix: <%= annonce[:price] %> €</h4>
            <p>pieces: <%= annonce[:rooms] %></p>
            <p>surface: <%= annonce[:surface] %> m²</p>
          </div>
        <li>
          <%= annonce[:price]     %>
          <%= annonce[:url]       %>
          <%= annonce[:image]     %>
          <%= annonce[:rooms]     %>
          <%= annonce[:surface]   %>
          <%= annonce[:lat]       %>
          <%= annonce[:lng]       %>
          <%= annonce[:avg_rents] %>
          <%= annonce[:returns]   %>
          <%= annonce[:precision] %>
        </li>
      </div>

    <% end %>
  </div>
</ul>


