<div id="header">
  <div class="logo">
     <a href="http://www.mycashflow.me"><img src="<%= ENV['DOMAIN'] %>/logo.png" alt="logo MyCashFlow"></a>
  </div>
    <h1>MyCashFlow</h1>
</div>
<h2>Bonjour</h2>

<h3>Nous avons trouvé <%= @annonces.count %> annonce(s) qui pourraient vous intéresser</h3>

<ul>
  <div id="mail">
    <% @annonces.each do |annonce| %>
      <div class="annonce">
        <a href="<%= annonce[:url] %>">
          <img src="<%= annonce[:image] %>">
        </a>
        <div class="description">
          <div class="metrics">
            <div class="metric main">
              <h2 class="green"><%= annonce[:returns].round(2) %> %</h2>
              <label>Rendement brut</label>
            </div>
            <div class="metric">
              <h2><%= number_to_currency(annonce[:avg_rents].round, format: "%n %u", unit: "€", delimiter: " ", precision: 0) %> / mois</h2>
              <label>Loyer potentiel</label>
            </div>
          </div>
          <hr>
          <h4><%= number_to_currency(annonce[:price], format: "%n %u", unit: "€", delimiter: " ", precision: 0) %></h4>
          <p><%= pluralize(annonce[:rooms], "chambre") %>, <%= annonce[:surface] %>m², à <%= annonce[:city] %></p>
        </div>
        <% scraped = "urlscrap=#{annonce[:url]}&urlimage=#{annonce[:image]}&price=#{annonce[:price]}&rendement=#{annonce[:returns]}&rooms=#{annonce[:rooms]}&surface=#{annonce[:surface]}&user_id=#{@user.id}&lat=#{annonce[:lat]}&long=#{annonce[:lng]}&city=#{annonce[:city]}&zipcode=#{annonce[:zipcode]}" %>
        <div class="select_info">
          <form method="post" action="http://localhost:3000/favorites">
            <input type="hidden" value="<%= scraped %>" name="scraped">
            <button class="btn btn-warning">Selectionner</button>
          </form>
        </div>
      </div>
    <% end %>
  </div>
</ul>


