<h1>Hello</h1>

<p>
   voici vos annonces
</p>

<ul>
  <% @annonces.each do |annonce| %>
    <li>
      <%= annonce[:price]  %>
      <%= annonce[:url]  %>
      <%= annonce[:image]  %>
      <%= annonce[:rooms]  %>
      <%= annonce[:surface]  %>
      <%= annonce[:lat]  %>
      <%= annonce[:lng]  %>
      <%= annonce[:avg_rents]  %>
      <%= annonce[:returns]  %>
      <%= annonce[:precision]  %>
    </li>
  <% end %>
</ul>
