<div class="container-fluid">
  <div class="main-container-selection">
    <div class="row">
      <div class="col-xs-12 col-md-6 rowcards">

        <div class="favselection">


          <h3 class="fav-title">Ma selection</h3>
          <% @favorites.each do |f| %>
            <div class="appartment">
              <div class="appartment-image">
                <% if f.urlimage.present? %>
                  <img src="<%= f.urlimage %>" alt="">
                <% else %>
                  <img src="https://www.housing.bt/assets/default-apartment(copy)-940bd729ea9cdf1a5cc31a6dd1812b2350e00702e2d384208eb4384e1d274ea4.jpg" alt="">
                <% end %>
              </div>
              <div class="appartment-infos">
                <div class="metrics">
                  <div class="metric main">
                    <h2 class="green"><%= f.rendement.round(2) %> %</h2>
                    <label>Rendement brut</label>
                  </div>
                  <div class="metric">
                    <h2><%= number_to_currency(f.avg_rent, format: "%n %u", unit: "€", delimiter: " ", precision: 0) %> / mois</h2>
                    <label>Loyer potentiel</label>
                  </div>
                </div>

                <hr>

                <h4><%= number_to_currency(f.price, format: "%n %u", unit: "€", delimiter: " ", precision: 0) %></h4>
                <p><%= f.rooms %> pièces, <%= f.surface %>m²</p>
                <p><%= f.city %></p>

                <%= link_to '<i class="fas fa-eye faveyes"></i>'.html_safe, favorite_path(f), id: 'show-favorite' %>

                <%= link_to '<i class="fas fa-trash-alt favtrash"></i>'.html_safe, favorite_path(f), method: :delete, data: {:confirm => 'Confirmez la suppression ?'}, id: 'remove-favorite' %>
              </div>
            </div>









          <% end %>
        </div>

      </div>
      <div class="col-xs-12 col-md-6 sticky">
        <div
          id="map"
          data-markers=" <%= @markers.to_json %>"
        ></div>

      </div>
    </div>
  </div>
</div>
