<div class="container">
  <div class="section">
    <div class="row">
      <div class="col-xs-12">
        <div class="detail-appartment">
          <div class="appartment-image">
            <% if @favorite.urlimage.present? %>
              <img src="<%= @favorite.urlimage %>" alt="">
            <% else %>
              <img src="https://www.housing.bt/assets/default-apartment(copy)-940bd729ea9cdf1a5cc31a6dd1812b2350e00702e2d384208eb4384e1d274ea4.jpg" alt="">
            <% end %>
          </div>

          <div class="appartment-infos">
            <h4><%= @favorite.city %></h4>
            <h4><%= number_to_currency(@favorite.price, format: "%n %u", unit: "€", delimiter: " ", precision: 0) %></h4>
            <p><%= @favorite.rooms %> pièces, <%= @favorite.surface %> m²</p>
          </div>

          <a target="_blank" class="btn btn-warning link-appartment" href='<%= @favorite.urlscrap %>'> Voir annonce</a>
        </div>
      </div>
    </div>
  </div>


  <div class="section">
    <div class="row">
      <div class="col-xs-12">
        <h2>Rendement brut</h2>

        <hr>

        <p>Le rendement brut est le plus simple à déterminer, et ce pour une bonne raison. Il ne tient pas compte des charges locatives payées par le bailleur ni de sa taxation. Par conséquent, il suffit de déclarer le loyer annuel au prix d’acquisition pour identifier la rentabilité brute de l’investissement immobilier.</p>
        <p><strong>Exemple de calcul du rendement brut:</strong> un investisseur loue un appartement moyennant un loyer mensuel de 800 euros charges comprises. Il a payé son achat immobilier 200 000 euros, frais d'acquisition inclus. La rentabilité brute de la propriété est donc :</p>
        <br>
        <p class="exemple">(800 x 12/200 000) x 100 = 4,80%</p>
        <br>
        <div class="metric">
          <strong>Rendement brut potentiel : <%= @favorite.rendement.round(2) %> %</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col-xs-12">
        <h2>Affiner le calcul de votre rendement</h2>

        <hr>

        <p>Pour aller plus loin, les investisseurs doivent s’intéresser à la rentabilité de leur location en tenant compte des coûts et charges qu’ils doivent supporter tels que l’impôt sur la propriété.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <br>
        <%= simple_form_for @favorite do |f| %>
          <%= f.input :property_taxe, label: "Taxes foncières - € / an" %>
          <%= f.input :insurance, label: "Assurance - € / an" %>
          <%= f.input :total_rent, label: "Loyer (estimé) - € / mois", hint: "Notre estimation : #{@favorite.avg_rent} €" %>
          <%= f.input :work, label: "Travaux (estimé) - €" %> <br>

          <%= f.submit "Calculer", class: "btn btn-warning" %>
        <% end %>

        <% if @favorite.property_taxe && @favorite.insurance && @favorite.total_rent && @favorite.work %>
        <br><br>
          <div class="metric">
            <strong>Rendement locatif net potentiel : <%= @favorite.net_rental_yield.round(2) %> %</strong>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="row">
      <div class="col-xs-12">
        <h2>CashFlow</h2>

        <hr>

        <p>Le Cashflow correspond au rendement net imposable</p>
        <p>Pour calculer le retour sur investissement le plus fidèlement possible, le bailleur doit également tenir compte de ses impôts (ceux-ci ne seront pas calculés ici). C’est le principe du rendement «net-net» ou net d’imposition. Il tient compte de la charge fiscale supportée par l’investisseur, c’est-à-dire de l’imposition des revenus de la propriété.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <br>
        <%= simple_form_for @favorite do |f| %>
          <%= f.input :monthy_loan, label: "Remboursement de crédit - € / mois" %> €/mois
          <%= f.input :rental_charges, label: "Frais de location - € / an" %>
          <%= f.input :total_rent, label: "Loyer(estimé) - € / mois" %>
          <%= f.submit "Calculer", class: "btn btn-warning" %>
        <% end %>

        <% if @favorite.monthy_loan && @favorite.rental_charges && @favorite.total_rent %>
          <br><br>
          <div class="metric">
            <strong>Pententiel Cashflow : <%= @favorite.net_taxe_return.round(0) %> / mois</strong>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
