<h5 class="searches-title">Mes recherches</h5>
<% searches.each do |search| %>
  <div class="searchcard">
    <div class="searchcity">
      <h5>
        <%= search.city %>
        <% if search.zipcode.present? %>
          (<%= search.zipcode %>)
        <% end %>
      </h5>
    </div>

    <div class="searchbudget">
      <p><%= number_to_currency(search.budget / 1000, unit: "k€", precision: 0, delimiter: " ", format: "%n %u") %></p>
    </div>

    <div class="searchcard-flex">
      <div class="searchdate">
        <p>
          Dernière recherche il y a <%= time_ago_in_words(search.last_scrap).capitalize %>

        </p>
      </div>

     <%= link_to '<i class="far fa-times-circle searchdelete"></i>'.html_safe, search_path(search), remote: true, method: :delete,data: {:confirm => 'Are you sure?'} %>
    </div>
  </div>
<% end %>
