<div class="appartement" style="background-color: white;">
  <a href='<%= result[:url] %>'>
    <% if result[:image].nil? %>
      <div class="appt_image"></div>
    <% else %>
      <div class="appt_image" style="background-image: url('<%= result[:image] %>');"></div>
    <% end %>
  </a>
  <div class="parametres">
    <p> Price: <%= result[:price] %> € </p>
    <div>
      <% if user_signed_in? %>
        <h4>Potential yield : <%= result[:returns].round(2) %> %</h4>
      <% end %>
    </div>
    <p> Rooms: <%= result[:rooms] %></p>
    <p> Surface : <%= result[:surface] %> m² </p>

    <% scraped = "urlscrap=#{result[:url]}&urlimage=#{result[:image]}&price=#{result[:price]}&rendement=#{result[:returns]}&rooms=#{result[:rooms]}&surface=#{result[:surface]}&user_id=#{current_user.id}&lat=#{result[:lat]}&long=#{result[:lng]}&city=#{result[:city]}&zipcode=#{result[:zipcode]}" %>
    <form action='/favorites' method='POST'>
      <%= hidden_field_tag :scraped, scraped %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <button type='submit'class="btn btn-warning">Select</button>
    </form>
  </div>
</div>


