<div class="appartement" style="background-color: white;">
  <a href='<%= result[:url] %>'>
    <% if result[:image].nil? %>
      <div class="appt_image">
      </div>
    <% else %>
      <div class="appt_image" style="background-image: url('<%= result[:image] %>');">
      </div>
    <% end %>
  </a>
  <div class="legendes">
    <div>
      Prix
    </div>
    <div>
      <h4>Rendement</h4>
    </div>
    <div>
      Nombre de pièces
    </div>
    <div>
      Surface
    </div>
  </div>
  <div class="parametres">
    <div>
      <%= result[:price] %> €
    </div>
    <div>
      <% if user_signed_in? %>
        <h4><%= result[:returns].round(2) %> %</h4>
      <% end %>
    </div>
    <div>
      <%= result[:rooms] %> pièces
    </div>
    <div>
      <%= result[:surface] %> m²
    </div>
    <div>
      <i class="far fa-heart"></i>
    </div>
  </div>
</div>
