<div class="appartement" style="background-color: white;" data-bc-url="<%= result[:url] %>">
  <a href='<%= result[:url] %>'>
    <% if result[:image].nil? %>
      <div class="appt_image"></div>
    <% else %>
      <div class="appt_image" style="background-image: url('<%= result[:image] %>');"></div>
    <% end %>
  </a>
  <div class="parametres">
    <p> Price: <%= number_to_currency(result[:price], format: "%n %u", unit: "€", delimiter: " ", precision: 0) %></p>

    <div>
      <% if user_signed_in? %>
        <h4>Potential yield : <%= result[:returns].round(2) %> %</h4>
      <% end %>
    </div>
    <p> Rooms: <%= result[:rooms] %></p>
    <p> Surface : <%= result[:surface] %> m² </p>

    <% scraped = "urlscrap=#{result[:url]}&urlimage=#{result[:image]}&price=#{result[:price]}&rendement=#{result[:returns]}&rooms=#{result[:rooms]}&surface=#{result[:surface]}&user_id=#{current_user.id}&lat=#{result[:lat]}&long=#{result[:lng]}&city=#{result[:city]}&zipcode=#{result[:zipcode]}" %>

    <div class="select_info">

      <%= form_tag(favorites_path, method: :post, remote: true) do %>
        <%= hidden_field_tag :scraped, scraped %>
        <%= submit_tag :select, class: "btn btn-warning" %>
      <% end %>

    </div>

  </div>
</div>


