<h1>Index.HTML.erb</h1>
<h6><%= current_user.id %></h6>
<form action="<%= user_searches_path(current_user) %>" method="get">
  <div class="formulaire">
    <div class="form-inl">
      <input id="budget" class="controls" name="search[budget]" type="number" placeholder="Budget">
    </div>
    <div class="form-inl">
      <textarea name="search[city]" id="city"></textarea>
    </div>
    <div class="form-inl">
      <textarea name="search[zipcode]" id="zipcode"></textarea>
    </div>
    <div class="form-inl">
      <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    </div>
    <div class="form-inl">
      <input type="submit" id="button">
    </div>
  </div>
</form>

<div class="createpage">
  <%= image_tag "logo.png", height: 200 %>

  <div id="map" style="height: 300px; width: 600px"></div>

  <div id="results">
    <h1><%= @results.size %></h1>
    <% @results.each do |result| %>
      <%= render 'result', result: result %>
    <% end %>
  </div>
</div>

<script>
  function initAutocomplete() {
    var map = new google.maps.Map(document.getElementById('map2'), {
      center: {lat: -33.8688, lng: 151.2195},
      zoom: 13,
      mapTypeId: 'roadmap'
    });
    map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener('bounds_changed', function() {
      searchBox.setBounds(map.getBounds());
    });

    var markers = [];

    var input = document.getElementById('pac-input');
    var searchBox = new google.maps.places.SearchBox(input);
    console.log(searchBox);
    searchBox.addListener('places_changed', function() {
      var places = searchBox.getPlaces();
      if (places.length == 0) {
        return;
      }
      else {
        places[0]["address_components"].forEach((component) => {
          console.log(component["types"][0]);
          if (component["types"][0] === 'locality') {
            textarea_city = document.getElementById('city');
            textarea_city.innerText = component["long_name"];
          }
          if (component["types"][0] === 'postal_code') {
            textarea_zipcode = document.getElementById('zipcode');
            textarea_zipcode.innerText = component["long_name"];
          }
        });
      }

      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      var bounds = new google.maps.LatLngBounds();

      places.forEach(function(place) {
        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };

        // Create a marker for each place.
        markers.push(new google.maps.Marker({
          map: map,
          icon: icon,
          title: place.name,
          position: place.geometry.location
        }));

        if (place.geometry.viewport) {
        // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });
      map.fitBounds(bounds);
    });
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=
AIzaSyAZuR-94uFzg2VuikctpXZHBOcFcuX0Wzo
&libraries=places&callback=initAutocomplete"
async defer></script>

<div id="map2" style="height: 0px; width: 600px"></div>

