<<<<<<< HEAD
<body>
  <br>
  <br>
  <br>
  <br>
<div class="log">
  <div class="login">
  <%= image_tag "logo.png", height: 400 %>
  <%= simple_form_for [@user, @search] do |f| %>
  <%= f.input :city %>
  <%= f.input :zipcode %>
  <%= f.input :budget %>
  <div>
<div class="form-actions">
  <%= f.submit %>
<% end -%>
</div>
</body>

=======
<h2>Search your oportunities</h2>

<%= simple_form_for [current_user, @search], remote: true do |f| %>
  <%= f.input :city, input_html: { value: 'Lyon' } %>
  <%= f.input :zipcode, input_html: { value: '69006' } %>
  <%= f.input :budget, input_html: { value: 300_000 } %>
  <%= f.submit %>
<%end%>

<div id="map" style="height: 300px; width: 600px"></div>

<div id="results"></div>
>>>>>>> 56165becf36ddf12984191deebc2afa584c30bf5
